body {
    padding: 10px;
    cursor: pointer;
    border: 1px solid green;
    height: 100%;
}

h3,
div {
    display: flex;
    justify-content: center;
}



li {
    list-style: none;
    display: flex;
    justify-content: center;
}